    {% load static %}
    
    <footer>
        <div class="red_footer">
            <img src="{% static 'core/iconosredes/1486564413-marker_81517.png' %}" alt="logo ubicacion">
            <span>Calle 1 2852 entre 128 A y Av. Varela</span>
        </div>
        <p id="copy">Copyright Tecno Makcell - 2023. Todos los derechos reservados.</p>
        <div class="red_footer">
            <img src="{% static 'core/iconosredes/1490889687-whats-app_82529.png' %}" alt="logo whatsapp">
            <span>1536757264</span>
        </div>
    </footer>